<ion-header>

  <ion-toolbar color="primary">

    <ion-title>
      🎮 Gamer App
    </ion-title>

    <ion-buttons slot="end">

      <ion-button (click)="cerrarSesion()">
        🚪 Salir
      </ion-button>

    </ion-buttons>

  </ion-toolbar>

</ion-header>

<ion-tabs>

  <ion-tab-bar slot="bottom" class="tab-bar-gamer">

    <ion-tab-button tab="videojuegos" href="/tabs/videojuegos">
      <ion-icon name="game-controller-outline"></ion-icon>
      <ion-label>Juegos</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="registros" href="/tabs/registros">
      <ion-icon name="people-outline"></ion-icon>
      <ion-label>Registros</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="encuestas" href="/tabs/encuestas">
      <ion-icon name="clipboard-outline"></ion-icon>
      <ion-label>Encuestas</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="promo" href="/tabs/promo">
      <ion-icon name="rocket-outline"></ion-icon>
      <ion-label>Descarga</ion-label>
    </ion-tab-button>

  </ion-tab-bar>

</ion-tabs>